__pycache__/
.ipynb_checkpoints/
*.pyc
trained_masks/
*trained_masks/*
trained_masks/*
*random_masks/*
results/
src/results
data/
*SECRET.json*
dev/SECRET.json
src/SECRET.json
slerp/merge_slerp.ipynb

